<IfModule mod_rewrite.c>
  RewriteEngine On

  # Környezeti változók beállítása
  SetEnv DB_HOST db
  SetEnv DB_NAME database
  SetEnv DB_USER user
  SetEnv DB_PASSWORD password

  SetEnv SMTP_SENDER_EMAIL teszt@kodbazis.com
  SetEnv SMTP_SENDER_NAME "Kódbázis"
  SetEnv SMTP_USERNAME teszt@kodbazis.com
  SetEnv SMTP_PASSWORD NkZdDesWdUYShRaS
  SetEnv SMTP_HOST smtp.rackhost.hu
  SetEnv SMTP_PORT 465

  SetEnv RECIPIENT_EMAIL teszt@kodbazis.com

  SetEnv WORKER_KEY syAsXYL4VykdTpAX

  # Public mappa és index.php beállítása
  RewriteCond %{REQUEST_URI} ^.*favicon
  RewriteRule ^(.*)$ src/favicon.ico [END]

  RewriteCond %{REQUEST_URI} ^.*public/(.*)
  RewriteRule ^(.*)$ src/public/%1 [END]

  RewriteRule (.*)  src/index.php [QSA]
</IfModule>
